html,
html {
	font-family: "Ubuntu";
}
.menu {
	background-color: azure;
	padding: 0;
	margin: 0;
	border-radius: 15px 15px 15px 15px;
	vertical-align: center;
	text-align: middle;
}
#middle {
	vertical-align: center;
	text-align: middle;
}