html,
html {
	font-family: "Ubuntu";
}
.menu {
	font-family: "Ubuntu";
	height:100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	vertical-align: middle;
	text-align: center;
 }
.peasant {
	background-color: azure;
	border-radius: 15px 15px 15px 15px;
	padding: 10px;
	width: 40%
}