html,
html {
	font-family: "Ubuntu";
}
.menu {
	background-color: azure;
	margin-left: auto;
	margin-right: auto;
	border-radius: 15px 15px 15px 15px;
	vertical-align: middle;
	text-align: middle;
}
#middle {
	vertical-align: center;
	text-align: middle;
}
.menuchild {
	vertical-align: middle;
}